<div class="d-flex justify-content-center align-items-center min-vh-100 bg-dark text-white">
  <div class="text-center p-5 rounded shadow bg-opacity-75 bg-black">
    <h2 class="mb-4">Inicia sesión con tu cuenta Microsoft</h2>
    <button class="btn btn-primary" (click)="login()">Login con Microsoft</button>
  </div>
</div>


<!-- <ng-container *ngIf="!isLoginPage()">
  <nav class="navbar navbar-dark bg-dark px-3 d-flex justify-content-between">
    <span class="navbar-brand mb-0 h1">Roles Framework</span>
    <button class="btn btn-sm btn-outline-light" (click)="logout()">Cerrar sesión</button>
  </nav>
</ng-container>

<router-outlet></router-outlet> -->
